INDIRNAME: /atlasgpfs01/usatlas/data/goyeonju/GDJ/ntuplePreProc/20200924/PbPbMC/
VERSION: v1

CENTFILENAME: input/centrality_cuts_Gv32_proposed_RCMOD2.txt
MIXFILENAME: /atlasgpfs01/usatlas/data/cfmcginn/ATLASNTuples/GammaMultiJet/user.cmcginn.GDJ.20200514.Job58to59.data18_hi.CCandPC.PreProcNtuple/20200518/ntuplePreProc_PbPbCCandPCMix_20200518.root
GRLFILENAME: input/data17_5TeV.periodAllYear_DetStatus-v98-pro21-16_Unknown_PHYS_StandardGRL_All_Good_25ns_ignore_GLOBAL_LOWMU.xml

ISPP: 0
ISMC: 1

CENTBINS: 0,10,30,50,80

########## mix ##########
DOMIX: 1
NMIX: 100

DOMIXCENT: 1
NMIXCENTBINS: 80
MIXCENTBINSLOW: 0
MIXCENTBINSHIGH: 80

DOMIXPSI2: 1
NMIXPSI2BINS: 32
MIXPSI2BINSLOW: -1.5708
MIXPSI2BINSHIGH: 1.5708

DOMIXVZ: 1
NMIXVZBINS: 15
MIXVZBINSLOW: -15
MIXVZBINSHIGH: 15

########## kinematics and cuts ##########
JETR: 4
GAMMAEXCLUSIONDR: 0.7
GAMMAJTDPHI: pi/2

PHOTONSELECTION: 2
PHOGENMATCHINGDR: 0.2
PHOISOCONESIZE: 3
GENISOCUT: 5.0
ISOCUT: 3.0
DOPTCORRECTEDISO: 1
DOCENTCORRECTEDISO: 1
BKGISOGAP: 2

########## photon Binning ##########
DOPTBINSINCONFIG: 0
PTBINS: 50,60,70,80,90,100,120,140,200,250
NGAMMAPTBINS: 100
GAMMAPTBINSLOW: 50
GAMMAPTBINSHIGH: 250
GAMMAPTBINSDOLOG: 0

DOPTBINSSUBINCONFIG: 1
GAMMAPTBINSSUB: 50,60,70,90,130,1000
NGAMMAPTBINSSUB: 5
GAMMAPTBINSSUBLOW: 50
GAMMAPTBINSSUBHIGH: 250
GAMMAPTBINSSUBDOLOG: 1

NPHOETABINS: 2
ETABINS_I: 0,1.52
ETABINS_F: 1.37,2.37

########## jet Binning ##########
DOJTPTBINSCONFIG: 1
JTPTBINS: 40,45,50,55,60,70,85,100,120,150,200
NJTPTBINS: 20
JTPTBINSLOW: 40
JTPTBINSHIGH: 220
JTPTBINSDOLOG: 1

NJTETABINS: 28
JTETABINSLOW: -2.8
JTETABINSHIGH: 2.8
JTETABINSDOABS: 0

########## dphi Binning ##########
NDPHIBINS: 16
DPHIBINSLOW: -0.0000001
DPHIBINSHIGH: 3.1415927

########## photonEnergy and efficiency ##########
DOTIGHTID_PHOTONENERGY: 1
DOISO_PHOTONENERGY: 1
NRATIOBINS_PHOTONENERGY: 300
RATIOMAX_PHOTONENERGY: 3

########## photon Efficiency ##########
DOLOOSEID_PHOTONEFF: 0

########## photon Purity ##########
ISOESHIFT: 0
ISOESHIFTENDCAP: 0
