MCPREPROCDIRNAME: /atlasgpfs01/usatlas/data/goyeonju/photonTaggedJetRaa/user.ygo.GDJ.20200922.Job3.mc16_5TeV.Pythia8EvtGenOverlay_gammajetDP140_280_PYTHIAOverlay18_Gamma140to280.root
OUTDIRNAME: /atlasgpfs01/usatlas/data/goyeonju/GDJ/ntuplePreProc
OUTFILENAME: ntuplePreProc_PbPbMC_pt140.root
CENTFILENAME: input/centrality_cuts_Gv32_proposed_RCMOD2.txt
ISPP: 0
ISMC: 1
ISMIX: 0
