MCPREPROCDIRNAME: /atlasgpfs01/usatlas/scratch/goyeonju/photonTaggedJetRaa/test/test_ppData/
OUTDIRNAME: /atlasgpfs01/usatlas/data/goyeonju/GDJ/ntuplePreProc/PPData
OUTFILENAME: ntuplePreProc_phoTaggedJetRaa_PPData.root
CENTFILENAME: input/centrality_cuts_Gv32_proposed_RCMOD2.txt
GETTRACKS: 0
GETR2JETS: 0
GETR10JETS: 0
GETTRUTHPARTICLE: 0
PHOEXTRACALIBFILE: input/phoTagJetRaa_photonEnergy_PPMC_v1_nominal_photonEnergyCalibration.root
JETEXTRACALIBFILE: input/phoTagJetRaa_jetEnergy_PPMC_v1_nominal.root
ISPP: 1
ISMC: 0
ISMIX: 0
ISTEST: 1
