MCPREPROCDIRNAME: /atlasgpfs01/usatlas/scratch/goyeonju/photonTaggedJetRaa/unmerged_PYTHIA_gammajet/
OUTDIRNAME: /atlasgpfs01/usatlas/data/goyeonju/GDJ/ntuplePreProc/PPMC
OUTFILENAME: ntuplePreProc_phoTaggedJetRaa_PPMC.root
CENTFILENAME: input/centrality_cuts_Gv32_proposed_RCMOD2.txt
GETTRACKS: 0
GETR2JETS: 0
GETR10JETS: 0
GETTRUTHPARTICLE: 1
PHOEXTRACALIBFILE: input/phoTagJetRaa_photonEnergy_PPMC_v1_nominal_photonEnergyCalibration.root
JETEXTRACALIBFILE: input/phoTagJetRaa_jetEnergy_PPMC_v1_nominal.root
ISPP: 1
ISMC: 1
ISMIX: 0
ISTEST: 0
