MCPREPROCDIRNAME: /atlasgpfs01/usatlas/data/goyeonju/photonTaggedJetRaa/user.ygo.GDJ.20200922.Job1.mc16_5TeV.Pythia8EvtGenOverlay_gammajetDP50_70_PYTHIAOverlay18_Gamma50to70.root/
OUTDIRNAME: /atlasgpfs01/usatlas/data/goyeonju/GDJ/ntuplePreProc
OUTFILENAME: ntuplePreProc_PbPbMC_pt50.root
CENTFILENAME: input/centrality_cuts_Gv32_proposed_RCMOD2.txt
ISPP: 0
ISMC: 1
ISMIX: 0
