MCPREPROCDIRNAME: /atlasgpfs01/usatlas/scratch/goyeonju/photonTaggedJetRaa/unmerged_PYTHIAOverlay_gammajet/
OUTDIRNAME: /atlasgpfs01/usatlas/data/goyeonju/GDJ/ntuplePreProc
OUTFILENAME: ntuplePreProc_PbPbMC_ptTotal.root
CENTFILENAME: input/centrality_cuts_Gv32_proposed_RCMOD2.txt
ISPP: 0
ISMC: 1
ISMIX: 0
