MCPREPROCDIRNAME: /atlasgpfs01/usatlas/scratch/goyeonju/photonTaggedJetRaa/test/test_pbpbData/
OUTDIRNAME: /atlasgpfs01/usatlas/data/goyeonju/GDJ/ntuplePreProc/test
OUTFILENAME: ntuplePreProc_phoTaggedJetRaa_PbPbData_test.root
CENTFILENAME: input/centrality_cuts_Gv32_proposed_RCMOD2.txt
GETTRACKS: 0
GETR2JETS: 0
GETR10JETS: 0
GETTRUTHPARTICLE: 0
PHOEXTRACALIBFILE: input/phoTagJetRaa_photonEnergy_PbPbMC_v1_nominal_photonEnergyCalibration.root
JETEXTRACALIBFILE: input/phoTagJetRaa_jetEnergy_PbPbMC_v1_nominal.root
ISPP: 0
ISMC: 0
ISMIX: 0
ISTEST: 1
