INFILENAME: /atlasgpfs01/usatlas/data/goyeonju/GDJ/ntuplePreProc/20200923/
OUTFILENAME: phoTagJetRaa_jetEnergy_PPMC.root
CENTFILENAME: input/centrality_cuts_Gv32_proposed_RCMOD2.txt
MIXFILENAME: NA 
PHOPURITYFILENAME: /direct/usatlas+u/goyeonju/phoTaggedJetRaa/photonPurity/output/phoTagJetRaa_photonPurity_PPData_tightID_IsoCone3_Iso3_genIso5_ptCorrectedIso_finerBin1_bkgIsoGap2_signalLeakageCorrected_20201027.root
PHOEFFICIENCYFILENAME: /direct/usatlas+u/goyeonju/phoTaggedJetRaa/photonEfficiency/output/phoTagJetRaa_efficiency_PPMC_tightID_IsoCone3_Iso3_genIso5_ptCorrectedIso_finerBin1_20201006.root
CENTBINS_EFF: 0,100
GRLFILENAME: input/data17_5TeV.periodAllYear_DetStatus-v98-pro21-16_Unknown_PHYS_StandardGRL_All_Good_25ns_ignore_GLOBAL_LOWMU.xml

ISPP: 1
ISMC: 1

CENTBINS: 0,100

DOMIX: 0
NMIX: 10

DOMIXCENT: 0
NMIXCENTBINS: 80
MIXCENTBINSLOW: 0
MIXCENTBINSHIGH: 80

DOMIXPSI2: 0
NMIXPSI2BINS: 32
MIXPSI2BINSLOW: -1.5708
MIXPSI2BINSHIGH: 1.5708

DOMIXVZ: 0
NMIXVZBINS: 15
MIXVZBINSLOW: -15
MIXVZBINSHIGH: 15

JETR: 4
GAMMAEXCLUSIONDR: 0.7
GAMMAJTDPHI: pi/2

PHOTONSELECTION: 0
PHOGENMATCHINGDR: 0.2
PHOISOCONESIZE: 3
GENISOCUT: 5.0
ISOCUT: 3.0
DOPTCORRECTEDISO: 1
DOCENTCORRECTEDISO: 1
BKGISOGAP: 2

DOPTBINSSUBINCONFIG: 1
GAMMAPTBINSSUB: 50,60,70,90,130,1000
NGAMMAPTBINSSUB: 5
GAMMAPTBINSSUBLOW: 50
GAMMAPTBINSSUBHIGH: 250
GAMMAPTBINSSUBDOLOG: 1

NPHOETABINS: 2
ETABINS_I: 0,1.52
ETABINS_F: 1.37,2.37

DOJTPTBINSCONFIG: 1
JTPTBINS: 55,60,70,85,100,120,150,200
NJTPTBINS: 20
JTPTBINSLOW: 20
JTPTBINSHIGH: 220
JTPTBINSDOLOG: 1

NJTETABINS: 28
JTETABINSLOW: -2.8
JTETABINSHIGH: 2.8
JTETABINSDOABS: 0

NDPHIBINS: 16
DPHIBINSLOW: -0.0000001
DPHIBINSHIGH: 3.1415927
